extends ../template

block variables
    - var title = 'Главная'

block content
    h1 Главная
    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur qui laboriosam iusto id, commodi iste deleniti eius, quidem provident natus perspiciatis quibusdam corporis. Minus temporibus harum ipsam consequuntur ducimus dolore.